---
import { getCollection } from "astro:content";
import NotesLayout from "@layouts/NotesLayout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("notes");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

import Layout from "@/layouts/Layout.astro";

const { post } = Astro.props;
const { Content } = await render(post);
const Heading = post.filePath?.match(/([^/]+)(?=\.[^/.]+$)/)?.[0];
---

<Layout theme="black" className="bg-black">
    <NotesLayout>
        <h1
            class="text-[3.4rem] text-[#DC143C] [text-shadow:0_0_0.5rem_red] font-bold border-2 border-white"
        >
            {Heading}
        </h1>
        <Content />
    </NotesLayout>
</Layout>
