---
import { getCollection } from "astro:content";
import NotesLayout from "@layouts/NotesLayout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("notes");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

import Layout from "@/layouts/Layout.astro";

const { post } = Astro.props;
const { Content } = await render(post);
const fileName = post.filePath?.match(/([^/]+)(?=\.[^/.]+$)/)?.[0];
const Heading = fileName?.replace(/^./, fileName?.at(0)?.toUpperCase() || "");
---

<Layout theme="black" className="bg-black">
    <h1 class="text-6xl text-transparent text-stroke-2 text-stroke-[#DC143C] [-webkit-text-stroke:0.1_white] [text-shadow:0_0_0.5rem_red,0_0_16px_#DC143C]">
      {Heading}
    </h1>
  <NotesLayout>
    <Content />
  </NotesLayout>
</Layout>
