---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("notes");
const paths = posts.map((e) => e.id).sort();
---

<Layout className="ml-auto mr-auto max-w-2xl p-6" theme="black">
    <main class="m">
        <h1 class="text-6xl">index</h1>
        <ul>
            {
                paths.map((e) => (
                    <li>
                        <a class="text-red-600" href={e}>{e}</a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
