@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@toolwind/corner-shape";

@theme {
  --color-crimson: #dc143c;
}

@layer base {
  html, body {
    @apply m-0 h-full w-full p-0 select-none dark:bg-black dark:text-white;
  }
}

@utility shadow-center {
  box-shadow: 0 0 2.2rem 0.6rem color-mix(in srgb, var(--color-crimson) 30%, transparent);
}

@utility wMode-vlr {
  writing-mode: vertical-lr;
}

@utility wMode-normal {
  writing-mode: horizontal-tb;
}

@utility textO-upright {
  text-orientation: upright;
}

:root {
  @supports (scrollbar-width: auto) {
    scrollbar-color: var(--color-crimson) black;
    scrollbar-width: thin;
  }
  @supports (interpolate-size: allow-keywords) {
    interpolate-size: allow-keywords;
  }

}
