@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-crimsom-red: #DC143C;
}

@layer base {

    html,
    body {
        @apply dark:bg-black dark:text-white h-full w-full m-0 p-0;
    }
}

@layer utilities {
    .wMode-vlr {
        writing-mode: vertical-lr;
    }

    .textO-upright {
        text-orientation: upright;
    }
}