---
import Layout from "@layouts/Layout.astro";
---

<Layout theme="black">
  <h1>restart cause previus one was shit</h1>
  <br />
  <li>
    <a href="/notes/" class="hover:bg-crimsom-red hover:text-white p-4 text-crimsom-red"
      >link to notes if you need it</a
    >
  </li>
</Layout>
