---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "@/assets/main.png";
---

<Layout
	title="Hello there"
	theme=""
	className="bg-[radial-gradient(circle_at_top,black_60%_50%,#CC0033_64%,black_50%,#990033_135%)]"
>
	<main class="">
		<nav
			class="flex flex-col items-center fixed right-0 bg-[var(--color-ter)] w-4 h-full z-10"
		>
		</nav>
		<section class="relative">
			<Image src={heroImage} alt=" " class="h-auto w-full pointer-events-none" />
			<div
				class="bg-black border-[var(--color-sec)] border-2 rounded-2xl p-4 absolute -20 top-[20%] left-[42%] perspective-a w-[calc(100vw/2)] h-[40%] -z-10 m-0"
			>
				<h1 class="">hello</h1>
			</div>
		</section>
	</main>
	<style>
		.perspective-a {
			/* perspective defines how for away a element is form user (function version is element specific)*/
			transform-style: preserve-3d;
			transform: perspective(60vw) rotate3d(0, -1, 0, 45deg);
		}
		.perspective-b {
			transform-style: preserve-3d;
			transform: perspective(600px) rotate3d(0, -1, 0, 64deg);
			left: 26%;
			top: 15%;
		}
		.perspective-c {
			transform-style: preserve-3d;
			transform: perspective(600px) rotate3d(0, -1, 0, 64deg);
			left: 26%;
			top: 15%;
		}
		.perspective-d {
			transform-style: preserve-3d;
			transform: perspective(600px) rotate3d(0, -1, 0, 64deg);
			left: 26%;
			top: 15%;
		}
		.perspective-e {
			transform-style: preserve-3d;
			transform: perspective(600px) rotate3d(0, -1, 0, 64deg);
			left: 26%;
			top: 15%;
		}
	</style>
</Layout>
