---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "@/assets/main.png";
import Hacktxt from "@/components/ui/Hacktxt";
---

<Layout title="Hello there" theme="black">
	<nav
		class="flex fixed justify-around overflow-scroll backdrop-blur-3xl h-full z-50 list-none font-extrabold uppercase wmode-vlr"
	>
		<li class="p-4 hover:bg-[var(--color-sec)]">
			<a href=""><Hacktxt className="p-4" text="hello" client:idle /></a>
		</li>
		<li class="p-4 hover:bg-[var(--color-sec)]">
			<a href=""><Hacktxt className="p-4" text="where" client:idle /></a>
		</li>
		<li class="p-4 hover:bg-[var(--color-sec)]">
			<a href=""><Hacktxt className="p-4" text="what" client:idle /></a>
		</li>
		<li class="p-4 hover:bg-[var(--color-sec)]">
			<a href=""><Hacktxt className="p-4" text="who" client:idle /></a>
		</li>
	</nav>
	<main class="">
		<section
			class="relative bg-[radial-gradient(circle_at_top,black_60%_50%,#CC0033_64%,black_50%,#990033_135%)] h-[100svh]"
		>
			<!-- TODO: card dimension should be static on px or any static unit -->
			<div
				class="bg-black border-[var(--color-sec)] border-2 rounded-2xl p-4 absolute perspective-a w-3/6 h-2/5 m-0 top-[25%] left-[40%]"
			>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					Animi, minus ullam alias ex facilis voluptatibus fugiat rem
					tempora. Dicta sed laborum ex distinctio nobis in error,
				</p>
			</div>
			<Image
				src={heroImage}
				alt=""
				class="w-full h-full pointer-events-none center bg-center bg-no-repeat relative z-10 object-cover object-left-top"
			/>
		</section>
	</main>
	<style>
		:root {
			color-scheme: dark;
		}
		.perspective-a {
			transform-style: preserve-3d;
			transform: perspective(100vh) rotate3d(0, -1, 0, 40deg);
		}
	</style>
</Layout>
