---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "@/assets/main.png";
import Hacktxt from "@/components/ui/Hacktxt";
// import Ticker from "@/components/Ticker.astro";
---

<Layout title="Hello there" theme="black">
	<nav
		class="flex fixed justify-around overflow-scroll backdrop-blur-3xl h-full z-50 list-none font-extrabold uppercase wMode-vlr"
	>
		<li class="p-4">
			<a href="" class="p-4">hello</a>
		</li>
		<li class="p-4">
			<a href="" class="p-4">where</a>
		</li>
		<li class="p-4">
			<a href="" class="p-4">what</a>
		</li>
		<li class="p-4">
			<a href="/notes/" class="hover:text-crimsom-red">notes</a>
		</li>
	</nav>
	<main class="">
		<!-- <Ticker /> -->
		<section
			class="relative bg-[radial-gradient(circle_at_top,black_60%_50%,#CC0033_64%,black_50%,#990033_135%)] h-[100svh]"
		>
			<!-- TODO: card dimension should be static on px or any static unit -->
			<div
				class="bg-black border-crimsom-red border-2 rounded-2xl p-4 absolute perspective-a w-3/6 h-2/5 m-0 top-[25%] left-[40%] z-20"
			>
				<p class="mochiy-pop-one-regular">
					<Hacktxt
						className=""
						client:idle
						text="Lorem ipsum, dolor sit amet consectetur"
					/>
				</p>
			</div>
			<Image
				src={heroImage}
				alt=""
				class="w-full h-full pointer-events-none center bg-center bg-no-repeat relative z-50 object-cover object-left-top"
			/>
			<div class="w-full flex justify-evenly absolute top-0 z-10">
				<Hacktxt
					className="textO-upright wMode-vlr"
					client:idle
					text="システム起動中..."
				/>
				<Hacktxt
					className="textO-upright wMode-vlr"
					client:idle
					text="コネクテッド・トゥ・ワイアード..."
				/>
				<Hacktxt
					className="textO-upright wMode-vlr block"
					client:idle
					text="システム同期中..."
				/>
				<Hacktxt
					className="textO-upright wMode-vlr block"
					client:idle
					text="プロトコル認証「成功」"
				/>
				<Hacktxt
					className="textO-upright wMode-vlr block"
					client:idle
					text="データストリーム接続確立"
				/>
				<Hacktxt
					className="textO-upright wMode-vlr block"
					client:idle
					text="ユーザーID 「スキャピー47」"
				/>
			</div>
		</section>
	</main>
</Layout>
<style>
	@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

	.mochiy-pop-one-regular {
		font-family: "Mochiy Pop One", serif;
		font-weight: 400;
		font-style: normal;
	}

	:root {
		color-scheme: dark;
	}

	.perspective-a {
		transform-style: preserve-3d;
		transform: perspective(100vh) rotate3d(0, -1, 0, 40deg);
	}
</style>
