---
import Layout from "../layouts/Layout.astro";
---

<Layout title="inter active maths notes" theme="">
    <p>
        i have created this route for creating maths notes with animaton like
        manim
    </p>
</Layout>
    