<header
    class="flex justify-around items-center backdrop:blur-xl"
>
    <div class="flex place-items-center rounded-full">
        <a href="/">
            <img src="#" alt="" class="inline" />
            <span class="">logo</span>
        </a>
    </div>
    <nav class="max-sm:hidden flex place-items-center rounded-full">
        <a href="/" class="list-none">Lorem, ipsum.</a>
        <a href="/" class="list-none">Lorem, ipsum.</a>
        <a href="/" class="list-none">Lorem, ipsum.</a>
        <a href="/" class="list-none">Lorem, ipsum.</a>
    </nav>
</header>