<header
    class="relative flex justify-around items-center bg-red-500 p-6 rounded-b-full"
>
    <div class="flex place-items-center rounded-full">
        <a href="/">
            <img src="#" alt="" class="inline" />
            <span class="text-xl">logo</span>
        </a>
    </div>
    <nav class="hidden sm:flex place-items-center rounded-full bg-black text-white">
        <a href="/" class="list-none mx-2 text-xl min-w-6">Lorem</a>
        <a href="/" class="list-none mx-2 text-xl min-w-6">Lorem</a>
        <a href="/" class="list-none mx-2 text-xl min-w-6">Lorem</a>
        <a href="/" class="list-none mx-2 text-xl min-w-6">Lorem</a>
    </nav>
    <button class="sm:hidden bg-blue-400 px-2 rounded-full">test</button>
</header>
