<header class="flex backdrop:blur-xl">
    <div class="flex items-center justify-center">
        <img src="#" class="inline" />
        <span class="">logo</span>
    </div>
    <nav class="bg-red-900 flex justify-center items-center">
        <a href="/" class="list-none">Lorem, ipsum.</a>
        <a href="/" class="list-none">Lorem, ipsum.</a>
        <a href="/" class="list-none">Lorem, ipsum.</a>
        <a href="/" class="list-none">Lorem, ipsum.</a>
    </nav>
</header>
