---

---

<!-- interface props {
    className?: string,
    children: string,
    angle?: number,
    style?: React.CSSProperties
}

const Strip = ({ children, angle, className, style }: props) => {

    if (angle && angle >= 360) angle = 360;


    return <div className={className} style={style}>{children}</div>
}
export default Strip -->

<div class="">
    <slot />
</div>
<style>
    @keyframes strip {
    }
</style>