---
const {} = Astro.props;
---

<div class="">
    <div class="ticker">
        <slot />
    </div>
    <script>
    const el =  document.querySelector(".ticker");

    const observer = new IntersectionObserver(() => {
    });
    </script>
</div>
<style>
</style>
