---
const {} = Astro.props;
---

<div class="">
    <div class="ticker">
        <slot />
    </div>
    <script>
    const el =  document.querySelector(".ticker") || (()=>{throw new Error('null value')})();

    const children = el.children

    const observer = new IntersectionObserver(() => {
    },{});

    for (let i = 0; i < children.length; i++) {
        observer.observe(children[i])
    };
    </script>
</div>
<style>
</style>
