---
const {} = Astro.props;
---

<div class="">
    <div class="ticker">
        <slot />
    </div>
    <script>
    const el =  document.querySelector(".ticker");
    const children = el && el.children;

    const observer = new IntersectionObserver(() => {
    },{});

    children.forEach(child => {
        observer.observe(child)
    });
    </script>
</div>
<style>
</style>
