---
import Layout from "./Layout.astro";

const { slug } = Astro.props;
console.log(slug);
---

<Layout
    className="ml-auto mr-auto max-w-2xl prose dark:prose-invert"
    theme="black"
>
    <main class="mt-12">
        <article>
            <slot />
        </article>
    </main>
</Layout>
