---
import Layout from "./Layout.astro";
---

<Layout className="ml-auto mr-auto max-w-2xl" theme="black">
    <main class="mt-12 prose dark:prose-invert">
        <article>
            <slot />
        </article>
    </main>
</Layout>
