---
import Layout from "./Layout.astro";
---

<Layout className="ml-auto mr-auto max-w-2xl p-6" theme="black">
    <main class="mt-12 prose dark:prose-invert prose-red prose-strong:text-red-600">
        <article>
            <slot />
        </article>
    </main>
</Layout>
