---
import Posthog from "@/components/posthog.astro";
import "@/styles/global.css"

interface Props {
	title?: string;
	theme?: string;
	className?: string;
}

const { title, theme, className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content={theme} />
		<Posthog />
		<title>{title}</title>
	</head>
	<body class={className + " " + "dark:bg-black dark:text-white"}>
		<slot />
	</body>
</html>