---

---

<!-- Get the latest one from: https://katex.org/docs/browser -->
<link
    href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    rel="stylesheet"
/>
<main class="ml-auto mr-auto max-w-2xl p-6">
    <article
        class="prose prose-sm dark:prose-invert prose-red prose-strong:text-red-600"
    >
        <slot />
    </article>
</main>
<style is:inline>
    iframe {
        max-width: 100%;
        overflow: hidden;
        border-radius: 1rem;
        border: 0.2rem dotted cyan;
    }
</style>
