---
---
<!-- Get the latest one from: https://katex.org/docs/browser -->
<link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet">
<main class="ml-auto mr-auto max-w-2xl p-6">
    <article
        class="prose dark:prose-invert prose-red prose-strong:text-red-600"
    >
        <slot />
    </article>
</main>
